/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 109px;*/
    margin-bottom: 915px;
    /*background-color:#222;*/
    color:#FFF;
    font-family: 'Montserrat', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 109px;*/
    height: 915px;
    background-color: #222;
    color:#FFF;
    border-top: 2px solid #afbd21;
    /*text-align: center;*/
    padding-top:15px;
    padding-bottom:15px;
}

a {
    color: #ec008c;
}

a:focus, a:hover {
     color: #afbd21;
     text-decoration: underline;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .jumbotron {
    padding-top: 45px;
}

.page-top {
    margin-top:57px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.navbar {
    border-bottom: 5px solid #afbd21;
}

.bg-dark {
    background-color: #222 !important;
}

.navbar-brand {

}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
      color: #FFF;
      background:#ec008c;
}

.navbar-dark .navbar-nav .nav-link {
    color:#FFF;
}

.btn-primary {
    background-color:#ec008c;
    border-color:#afbd21;
}

.btn-primary:hover {
    background-color:#afbd21;
    border-color:#ec008c;
}

.input-group.is-invalid ~ .invalid-feedback,
.form-check.is-invalid ~ .invalid-feedback{
    display:block;
}

.input-group.is-invalid > .form-control,
.input-group.is-invalid > .input-group-addon {
    border-color: #dc3545;
}

body#blank {
    background-color:#222;
}

body#blank .content {
    background:#FFF;
}

.navbar-nav.dd-right .dropdown-menu{
    position:absolute;
    right:0;
    left:auto;
}

.navbar .btn {
    margin-left:.5em;
}

.nav-item {
    text-align: center;
}

ul.dd-right li.nav-item  a.nav-link {
    /*padding-bottom:16px;*/
    margin-top:-12px;
}

.page-top {
    color:#000;
    padding-bottom: 1rem;
}

.jumbotron {
    background-image:url('https://dev.taraloka.org/img/girls-waterfall-cropped.png');
    background-size:cover;
    background-position:bottom;
    color:#FFF;
    margin-bottom:0;
    padding:4rem 2rem;
    /*min-height:300px;*/
}

.jumbotron hr{
    border-color:#FFF;
}

.bookWrapper {
    background-color:#222;
    padding-top:20px;
    padding-bottom:20px;
    border-top: 5px solid #afbd21;
    /*border-bottom:2px solid #ec008c;*/
}

.font-green {
    color: #afbd21;
}

#footer-menu li{
    margin-top:.5em;
    margin-bottom:.5em;
    font-size:1.25rem;
}

.footer a {
    color: #afbd21;    
}

.footer a:hover {
    color: #ec008c;
}

.footer .btn-primary {
    color:#FFF;
}

.footer .btn-primary:hover {
    color:#FFF;
}

#footer-contact .list-inline li{
    display:inline-block;
    margin-right:.5rem;
}



#hidden-modal {
    visibility:hidden;
}

#hidden-modal .modal-body {
    visibility:visible;
}

.content-image {
    width:300px;
}

.content-image.pull-right {
    padding-left:1rem;
}

.footer p {
    
}

.footer #copyright {
    text-align: center;
    padding-top:1rem;
}

.footer #powered {
    text-align: center;
}



.img-padded {
    padding-bottom:2rem;
}



/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    /*
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;   
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
   */
    height: 40px;
    font-size: 1rem;
    line-height: 1.25;
    padding: .5rem .75rem;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


}

.StripeElement--focus {
    /*box-shadow: 0 1px 3px 0 #cfd7df;*/
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#cta-header {
    margin-top:1rem;
}





@media (min-width: 576px) {
    body {
	/* Margin bottom by footer height */
	margin-bottom: 490px;
    }
    .footer {
	/* Set the fixed height of the footer here */
	height: 490px;
	font-size:0.85rem;	
    }
    .footer #copyright {
	padding-top:0;
    }
    #cta-header {
	margin-top:3rem;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        border-bottom: 2px solid #afbd21;
    }
    .navbar-dark .navbar-nav .nav-link {
	/*padding: 15px .5rem 18px .5em;*/
	padding: 17px .5rem 16px .5em;
	/*padding: 21px .5rem 12px .5em;*/
	margin-top:-10px;
	margin-bottom:-13px;
	border-bottom: 2px solid #afbd21;
    }
    .xs-only {
	display:none;
    }
    .jumbotron {
	min-height:500px;
    }
    .img-padded {
	padding-bottom:0rem;
    }
}

@media (min-width: 768px) {

    body {
	/* Margin bottom by footer height */
	margin-bottom: 540px;
    }
    .footer {
	/* Set the fixed height of the footer here */
	height: 540px;
	font-size:0.85rem;	
    }

}

@media (min-width: 992px) {

    body {
	/* Margin bottom by footer height */
	margin-bottom: 420px;
    }
    .footer {
	/* Set the fixed height of the footer here */
	height: 420px;
	font-size:0.85rem;	
    }
    .footer #copyright {
	text-align: left;
	line-height: 60px; /* Vertically center the text there */	
    }
    .footer #powered {
	text-align: right;
	line-height: 60px; /* Vertically center the text there */
    }    
    #cta-header {
	margin-top: 5rem;
    }
}

@media (min-width: 1200px) {

    body {
	/* Margin bottom by footer height */
	margin-bottom: 470px;
    }
    .footer {
	/* Set the fixed height of the footer here */
	height: 470px;
	font-size:1rem;
    }

    .jumbotron {
	background-size:cover;
    }    

    #cta-header {
	margin-top:8rem;
    }
}
